@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Fredoka:wght@400;500&family=Konkhmer+Sleokchher&family=Open+Sans&family=Roboto+Mono:wght@500;700&family=Roboto+Slab:wght@100&family=Tilt+Prism&display=swap');header{
    background-color: black;
}
.top-banner{
    height: 60px;
    /* background-color: yellow; */
}

.nav-header{
    display: flex;
    width: 1280px;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    color: white;
    justify-content: space-between;
    padding: 5px;
    height: 80px;
}
.left-header{
    display: flex;
    /* justify-content: center; */
}
.nav-header ul{
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;

}
.nav-header h1{
    font-family: 'Cherry Bomb One', cursive;
    font-weight: bolder;
    font-size: 60px;
}

.nav-header li{
    padding: 10px;
}

.nav-header .left-header li:hover{
    background-color: hsl(120, 10%, 15%);
}
.nav-header .right-header li:hover{
    color: skyblue;
}
main{
    /* width: 1280px; */
    /* justify-content: center; */
    display: flex;
}


.main-body-div{
    /* display: flex; */
    width: 1280px; 
    margin: auto;
}

.first-row{
    height: 600px;
   width: 100%;
    /* background-image: ; */
    /* background: linear-gradient( to right rgb(0, 0, 0)),url("./IMAGES/FOOD-SITE/first-img.jpg"); */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url(./IMAGES/FOOD-SITE/first-img.jpg);
    background-position: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    
}
.f-row-img-content{
    margin-left: 80px;
    color: white;
}
.f-row-img-content h1{
    
 
    font-family: 'Konkhmer Sleokchher', cursive;
    font-weight: bolder;
    font-size: 40px;
    
}
.f-row-img-content a{

    text-decoration: none;
    padding: 20px 20px;
    color: black;
    background-color: hsl(50, 90%, 60%);
    font-size: 20px;
    border-radius: 5px;
   
    
}

.f-row-img-content a:hover{
    background-color: hsl(50,99%,50%);
    box-shadow: 2px 2px 4px hsl(60,90%,30%);
    transform: scale(.5);
    
}

.advertisement{
    background-color: hsl(0, 0%, 90%);
    /* height: 60px; */
    display: flex;
    margin-top: 30px;
    
}
.advertisement p{
  align-items: center;
  margin: auto;
  padding: 20px;
}
.div-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 50px; */
    background-color: white;
    padding: 5px;
    
}
.div-heading a{
    color: blue;
}


.fresh-3-box{
   display: flex;
   justify-content: space-between;

}
.fresh-box{
   width: 359px;
    height: 384px;
    /* background-color: rgb(224, 224, 38); */
    border: 1px solid hsl(0, 0%, 80%);
    padding: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px hsl(0, 0%, 80%);
 
    
}

.fresh-box.box1{
    background-color: white;
    
}
.fresh-box .bg1 {
    background-image: url("./IMAGES/FOOD-SITE/fresh-img.jpg");
   
}
.fresh-box .bg-img:hover{
    transform: scale(1.03);
    transition: 1s;
}
.fresh-box .bg2{
    background-image: url("./IMAGES/FOOD-SITE/fresh-2.webp");
    object-fit: contain;
}

.fresh-box .bg3{
    background-image: url("./IMAGES/FOOD-SITE/fresh-img.jpg");
}

.fresh-box .box-header{
    display: flex;
   
}

.fresh-box .head-icon{
        width: 50px;
        height: 50px;
        background-color: rgb(231, 175, 175);
        border-radius: 50%;
}
.head-icon img{
    width: 100%;
    height: 100%;
}
.box-header .head-line h3{
    margin-top: 5px;
    margin-left: 5px;
}
.fresh-box .head-line a{
text-decoration: none;
    
}


.fresh-box .bg-img{
    height: 275px;
    width: 100%;
    object-fit: cover;
    /* background-image: url("./IMAGES/FOOD-SITE/fresh-img.jpg"); */
    border-radius: 13px;
   
}


.img-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: end;
    /* height: 100%; */
    width: 100%;
    background-color: white;
    flex-grow: 4;

}
.img-footer .bg-left{

    color: hsl(0, 0%, 40%);
}
.img-footer .bg-right .reply:hover{
    box-shadow: 0 0 9px 1px gray;
}
.img-footer .bg-right{
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;

    color: hsl(0, 0%, 18%);
    
}

.img-footer .bg-right i:hover{
    transform: scale(1.5);
    
}

.craving-row{
    display: flex;
    justify-content: space-between; 
}


.craving-box{
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 5px 2px ;
    
    
}

.craving-box .box-size{
    width: 384px;
    height: 384px;
    position: 50% 50%;
    background-size: cover;
    transition: .4s ease-in;
        
}

.box-size:hover{
    transform: scale(1.02);
}

.craving-box  .box1{
    
   
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6)),url("./IMAGES/FOOD-SITE/24-freezer.webp");

}
.craving-box .box2{
    
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6)),url("./IMAGES/FOOD-SITE/50-lunch.webp") ;
  

}
.craving-box .box3{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6)),url("./IMAGES/FOOD-SITE/24-best.webp");
}

.craving-box .box1 .img-content{
    
 
   
}
.box-size .img-content{

    display: flex;
    flex-direction: column;
    /* align-items: end; */
    color: white;
    font-size: 16PX;

  height: 99%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding: 10px;
  color: white;
  /* display: none; */
 
}
 .img-content h5{
    display: none; 
    opacity: 0; 
     
}

.img-content:hover h5{
display: block;
opacity: 1;

}

.img-content h1{
display: none;
}

.img-content:hover h1{
    display: block;
    transition: ease-in-out;
}

.img-content h5{
    margin: 0;
}
.img-content{
    transition: 1s;
}


.explore-row{
    display: flex;
     justify-content: space-between;
}

.explore-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.explore-box img{
    border-radius: 50%;
    width: 162px;
    height: 162px;
    transition: 0.6s;
}
.explore-box img:hover{
    transform: scale(1.05);
   
    box-shadow:0 0 5px  3px hsl(0, 0%, 56%) ;
}
.explore-box .img-title h4{
    text-align: center;
}

.footer{
      
}

.find-more-block{
    height: 250px;
    
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.search-container {
   position: relative;
    display: flex;
    
    /* justify-content: space-between; */
}


.search-icon-div{
   position: absolute;
    top: 16px;
    left: 101px;
  }

  .search-icon {
    pointer-events: none;
  }
  .search-input-div{
    width: 850px; 
    margin-left: 80px; 
    

  }

  .search-input {
    padding:0px 45px;
    width: 80%;
    height: 45px;
    border-radius: 30px;
  }

.search-btn{
    margin: 30px;  
  }

  .search-btn button{
    background-color: hsl(45, 98%, 50%);
    padding: 10px 110px;
    border-radius: 5px;

  }
  .search-btn button:hover{
    background-color: hsl(45,98%,45%);
    box-shadow: 6px 6px 6px hsl(45,98%,50%);
    cursor: pointer;
  }
  .footer-bottom{
    width: 100%;
    height: 100px;
    background-color: black;
    
  }

  .footer-wrap{
    width: 1280px;
    background-color: black;
    color: white;
    display: flex;
    margin: auto;
    
}
.footer-wrap .row-1{
    width: 100%;
    display: flex;
    

    justify-content: space-between;
   
    
}


.social-icon ul{
    display: flex;
    flex-direction: row;
    list-style: none;

}
.social-icon .fb:hover{
    color: blue;
}
.social-icon .insta:hover{
    color: magenta;
}
.insta:hover{
    color: red;
}
.pintrest:hover{
    color: red;
}
.twitter:hover{
    color: rgb(49, 173, 222);
}
.ytube:hover{
    color: red;
}
.gmail:hover{
    color: yellow;
}

.social-icon li{
    padding: 10px;
    color: white;
}

.row-1-right pre{
    font-size: 10px;
}
